<div class="row">
  <div class="col-md-12">
  <div class="row">
    <div class="col-md-12">
  <a href="<%= user_path(current_user) %>">
    <div class="row">
      <%= gravator_for current_user %>
      <%= current_user.name %>
    </div>
    <div class="row">
      <%= pluralize(current_user.microposts.count,"micropost") %>
    </div>
  </a>

   </div>
    </div>
    </div>
</div>